.body-dia{
    background-color: #333 ;
    background-image: url(../../public/images/diurno.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.body-noche{
    background-image: url(../../public/images/noctuno.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.screen{
    background-color: #ffffff;
    border-radius: 0.5rem;
    padding-left: 1rem;
    padding-top: 0.2rem;
    padding-right: 1rem;
    font-size: 1.5rem;
    color: #333;
}

.body-dia .content{
    background-color: rgba(218, 212, 140, 0.637);
    border: 1px solid #ccc;
    backdrop-filter: blur(5px);
    height: 70%;
    padding: 2%;
    border-radius: 1rem;
}

.body-noche .content{
    background-color: rgba(0, 0, 0, 0.637);
    border: 1px solid #000000;
    backdrop-filter: blur(5px);
    height: 70%;
    padding: 2%;
    border-radius: 1rem;
}

.btn-number{
    width: 3rem;
    height: 4rem;
    background-color: #f0f0f0e7;
    border: none;
    border-radius: 0.5rem;
    font-size: 1.5rem;
    color: #333;
}


/*  */
.toggle-container {
  width: 11%;
  display: inline-block;
  margin-top: 1rem;
}

.toggle-switch {
  position: relative;
  display: inline-block;
  width: 200px;
  height: 50px;
  background-color: #d8d783;
  border-radius: 25px;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.toggle-switch.active {
  background-color: #afafaf;
}

.toggle-slider {
  position: absolute;
  top: 3px;
  left: 3px;
  width: 95px;
  height: 44px;
  background-color: rgb(255, 255, 255);
  border-radius: 22px;
  transition: transform 0.3s ease;
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

.toggle-switch.active .toggle-slider {
  background-color: rgb(0, 0, 0);
  transform: translateX(98px);
}

.toggle-option {
  position: absolute;
  top: 0;
  width: 150px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  font-size: 14px;
  transition: color 0.3s ease;
  z-index: 1;
}

.toggle-option.left {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 0;
}

.toggle-option.right {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  right: 0;
}




/*  */